body {
  padding: 0;
  margin: 0;
  color: var(--color-theme-blue);
  font-family: system-ui ,sans-serif;
  min-width: 320px;
}

a:hover,
a:active {
  color: var(--color-theme-green);
}

button {
  cursor: pointer;
}
