.mask {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9999;
  background-color: rgba(50,50,50,.88);
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: min(900px, 80%);
  background: #fff;
  padding: 24px;
  border-radius: 6px;
}

@media (max-width: 640px) {
  .container {
    max-width: 90%;
    max-height: 90%;
  }
}

.header {
  display: flex;
}

.title {
  font-size: 30px;
  flex-grow: 1;
  flex-shrink: 0;
}

.closeButton {
  width: 36px;
  height: 36px;
  flex-grow: 0;
  flex-shrink: 0;
}

.closeButton:hover,
.closeButton:active {
  opacity: var(--active-opacity);
}

.content {
  padding: 24px 0 12px;
}
