.root {
}

.header {
  display: flex;
  width: 100%;
  margin-bottom: 12px;
  justify-content: space-between;
}

.settingBtn {
  transition: all 0.3s ease;
  padding: 0 12px;
  vertical-align: middle;
  border-radius: 12px;
  display: flex;
  align-items: center;
  text-align: center;
}

.settingBtn:hover {
  color: var(--color-theme-green);
  box-shadow:  4px 12px 40px 6px rgba(0, 0, 0, 0.09);
}

.status {
  padding: 24px;
  text-align: center;
}
