.root {
  position: relative;
  width: 240px;
}

.input {
  border: 1px solid var(--color-theme-blue);
  border-radius: 6px;
  height: 40px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 16px;
  transition: all 0.3s ease;
  width: 100%;
  background: #fff;
}

@media (max-width: 640px) {
  .root {
    width: 100%;
    margin-top: 6px;
  }
}

.input:hover,
.input:active,
.input:focus,
.input:focus-visible {
  outline: 0;
  border-color: var(--color-theme-green);
}

.clearButton {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 30px;
  height: 30px;
  transition: opacity 0.3s ease;
}

.clearButton svg {
  fill: var(--color-theme-blue);
}

.clearButton:hover,
.clearButton.active {
  opacity: var(--active-opacity);
}
