.root {
  display: flex;
  margin: 12px auto;
  align-content: initial;
  align-items: flex-end;
}

@media (max-width: 640px) {
  .root {
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 12px 0;
  }
}

.heading {
  font-size: 40px;
  flex-grow: 1;
  padding-left: 12px;
}

@media (max-width: 640px) {
  .heading {
    font-size: 36px;
    margin-top: 6px;
    padding-left: 0;
  }
}

.searchForm {

}

.searchInput {
  border: 1px solid var(--color-theme-blue);
  border-radius: 6px;
  height: 40px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 16px;
  transition: all 0.3s ease;
}

@media (max-width: 640px) {
  .searchForm {
    width: 100%;
    margin-top: 6px;
  }

  .searchInput {
    width: 100%;
  }
}

.search:hover,
.search:active,
.search:focus,
.search:focus-visible {
  outline: 0;
  border-color: var(--color-theme-green);
}
