.root {
  background: #fff;
  box-shadow:  4px 12px 40px 6px rgba(0, 0, 0, 0.09);
  transform: translateY(0);
  perspective: 3200px;
  padding: 24px;
  border-radius: 12px;
}

@media (max-width: 640px) {
  .root {
    padding: 12px;
    padding-bottom: 6px;
  }
}

.header {
  display: block;
  position: relative;
}

@media (max-width: 640px) {
  .header {
    display: flex;
  }
}

.newMark {
  color: #6e6e73;
  border: 1px solid #6e6e73;
  border-radius: 18px;
  padding: 2px 6px;
  font-size: 10px;
  line-height: 1.2;
  height: 20px;
  display: inline-block;
  position: relative;
  top: -2px;
  flex-grow: 0;
  flex-shrink: 0;
}

.favButton {
  transition: opacity 0.3s ease;
  position: absolute;
  right: 0;
  top: 4px;
}

.favButton:hover,
.favButton:active {
  opacity: var(--active-opacity);
}

.favIcon {
  width: 20px;
  height: 20px;
  fill: #6e6e73;
}

@media (max-width: 640px) {
  .favIcon {
    top: 2px;
  }
}

.titleBox {
  display: block;
  line-height: 1.4;
  padding-right: 32px;
}

@media (max-width: 640px) {
  .titleBox {
    padding-right: 24px;
    word-break: break-all;
  }
}

.title {
  font-size: 20px;
  font-weight: 700;
  display: inline;
  margin-right: 6px;
}

.subTitle {
  font-size: 14px;
  color: #6e6e73;
  margin-right: 6px;
}

@media (max-width: 640px) {
  .subTitle {
    margin-left: 0;
  }
}

.inner {
  margin-top: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr 24px 2fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "jpTime cnTime divider onair"
    "start info divider resource";
  row-gap: 6px;
}

.inner:after {
  content: " ";
  display: block;
  grid-area: divider;
  width: 1px;
  height: 100%;
  background: #d2d2d7;
}

@media (max-width: 665px) {
  .inner {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
    "jpTime cnTime"
    "start info"
    "resource resource"
    "onair onair";
  }
}

@media (max-width: 375px) {
  .inner {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
    "jpTime cnTime"
    "start start"
    "info info"
    "resource resource"
    "onair onair";
  }
}

@media (max-width: 330px) {
  .inner {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
    "jpTime"
    "cnTime"
    "start"
    "info"
    "resource"
    "onair";
  }
}

.meta {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;
  flex-grow: 0;
  flex-shrink: 0;
}

.inner > div {
  display: flex;
  line-height: 1.2;
}

.jpTime {
  grid-area: jpTime;
}

.cnTime {
  grid-area: cnTime;
}

.start {
  grid-area: start;
}

.resource {
  grid-area: resource;
}

.onair {
  grid-area: onair;
}

.info {
  grid-area: info;
}

.inner dt {
  opacity: 0.6;
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 6px;
  line-height: 1.4;
}

.inner dd {
  line-height: 1.4;
}

.inner dd ul {
  display: flex;
  flex-wrap: wrap;
}

.inner dd ul li {
  display: flex;
  align-items: center;
  margin-right: 6px;
}

.inner dd ul li:last-child {
  margin-right: 0;
}

.inner dd ul li:after {
  content: "/";
  font-size: 18px;
  margin-left: 6px;
  line-height: 1;
  font-family: "Arial";
}

.inner dd ul li:last-child:after {
  content: none;
}
