.header {
  background: var(--color-theme-blue);
  color: #fff;
  height: 50px;
  font-size: 16px;
}

.container {
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

@media (max-width: 375px) {
  .header {
    font-size: 14px;
  }
}

.title {
  font-size: 24px;
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 12px;
  padding-left: 12px;
}

@media (max-width: 640px) {
  .title {
    padding-left: 0;
  }
}

@media (max-width: 375px) {
  .title {
    font-size: 18px;
    margin-right: 6px;
  }
}

.navMenu {
  flex-grow: 1;
  flex-shrink: 0;
}

.navUser {
  flex-grow: 0;
  flex-shrink: 0;
}

.navMenuList,
.navUserList {
  display: flex;
  align-items: center;
  height: 100%;
}

.navMenuList a,
.navUserList a {
  padding: 0 6px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 6px;
}

.button:hover {
  color: var(--color-theme-green);
}

.icon {
  width: 16px;
  height: 16px;
  fill: #fff;
  margin-right: 4px;
}

.navUserList .button:hover .icon {
  fill: var(--color-theme-green);
}

@media (max-width: 640px) {
  .navUserList {
    margin-right: -6px;
  }

  .button {
    padding: 6px 12px;
  }

  .icon {
    margin: 0;
  }

  .iconText {
    display: none;
  }
}
